In [18]:
# done as part of hw

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pyarrow.parquet as pq
from time import time

## green taxi trips from September 2019:

In [2]:
df=pd.read_csv('green_tripdata_2019-09.csv',nrows=100)

In [3]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [4]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [5]:
engine.connect()

In [8]:
# convert to datetime format
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [9]:
# Schema to transfer the data to postgres
# Schema in DDL
print(pd.io.sql.get_schema(df,name="green_taxi_data",con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [10]:
# chunk the data to upload to postgresql db
df_iter = pd.read_csv('green_tripdata_2019-09.csv',iterator=True,chunksize=100000)

In [11]:
df_iter

In [12]:
# next iterator
df = next(df_iter)

In [13]:
len(df)

100000

In [14]:
# convert the time columns in next iterator to time format
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [15]:
%time df.head(n=0).to_sql(name='green_taxi_data',con=engine,if_exists='replace')

CPU times: user 24.2 ms, sys: 28.6 ms, total: 52.8 ms
Wall time: 140 ms

0

In [16]:
# insert first iterator
%time df.to_sql(name='green_taxi_data',con=engine,if_exists='append')

CPU times: user 2.73 s, sys: 133 ms, total: 2.86 s
Wall time: 4.87 s

1000

In [17]:
while True:
    
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data',con=engine,if_exists='append')
    
    t_end = time()
    
    print("Chunk inserted successfully in %.3f seconds"%(t_end-t_start))

Chunk inserted successfully in 5.392 seconds
Chunk inserted successfully in 5.174 seconds

/var/folders/qm/sbby5mpx22g9cm6655g9bwcw0000gn/T/ipykernel_16139/2210288860.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Chunk inserted successfully in 5.275 seconds
Chunk inserted successfully in 2.152 seconds

StopIteration:

## zones

In [19]:
df=pd.read_csv('taxi+_zone_lookup.csv',nrows=100)

In [20]:
df

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [22]:
# Schema to transfer the data to postgres
# Schema in DDL
print(pd.io.sql.get_schema(df,name="green_taxi_zones",con=engine))

CREATE TABLE green_taxi_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [23]:
# chunk the data to upload to postgresql db
df_iter = pd.read_csv('taxi+_zone_lookup.csv',iterator=True,chunksize=100000)

In [24]:
df=next(df_iter)

In [25]:
len(df)

265

In [26]:
df.head(n=0).to_sql(name='green_taxi_zones',con=engine,if_exists='replace')

0

In [27]:
# insert first iterator
%time df.to_sql(name='green_taxi_zones',con=engine,if_exists='append')

CPU times: user 13 ms, sys: 3.24 ms, total: 16.2 ms
Wall time: 35.2 ms

265

In [28]:
# There are only 265 records in the zones table